
.yIDCqA, [tabindex], button {
    -webkit-tap-highlight-color: transparent;
}
.QnQnDA {
    outline: none;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.T6XjCg {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    pointer-events: none;
}
.h0_i9w {
    scrollbar-color: var(--pyoCYg) var(--gUe8Cg);
}
._682gpw {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}
style attribute {
    --FbeAEg: 0px;
    --reQF4Q: 0px;
    --at4QCw: 0px;
    --_yAsaw: 0px;
}
.EHoceA #root, .EHoceA .ZHPl4Q, .EHoceA body, html.EHoceA {
    -webkit-user-select: none;
    user-select: none;
}
#W_Eelw, body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}
.cc24 .dark, .cc24 .light, .cc24.dark, .cc24.light {
    --EgVHiw: var(--KneJqA);
    --9-CRlg: var(--6qQCNQ);
}
.cc24 .dark, .cc24 .light, .cc24.dark, .cc24.light {
    --1IVhPQ: var(--4ClGCw);
    --v_jISQ: var(--4ClGCw);
    --MPmRHA: var(--SGjjzA);
}
.cc24 .light, .cc24.light {
    --K12xjw: rgba(13,18,22,0);
    --B2THfg: rgba(64,87,109,.07);
    --QYA_-A: rgba(57,76,96,.15);
    --ctGD3w: rgba(13,18,22,0);
    --_T63JA: #0d1216;
    --oXjekw: rgba(36,49,61,.4);
    --hjVsrw: rgba(165,112,255,.15);
    --on21aw: rgba(165,112,255,.15);
    --FNUQ4g: rgba(165,112,255,.2);
    --6Rd7UQ: rgba(64,87,109,.07);
    --nfu_og: #612dae;
    --ux3doQ: rgba(36,49,61,.4);
    --KneJqA: rgba(165,112,255,.15);
    --VDCUNg: rgba(165,112,255,.15);
    --E05YAQ: rgba(165,112,255,.2);
    --sanlCw: rgba(64,87,109,.07);
    --c9kaQQ: #612dae;
    --GV6ruQ: rgba(36,49,61,.4);
    --7hnsIg: rgba(53,71,90,.2);
    --fhEBgA: var(--7hnsIg);
    --ouDIfQ: var(--3j0O2w);
    --rfyBKA: var(--6qQCNQ);
}
.light {
    --ZXUaWg: rgba(139,61,255,.6);
    --F3lBng: hsla(0,0%,100%,0);
}
.light {
    --ZaLHhA: rgba(28,39,48,.5);
}
.light {
    --9rxj2w: hsla(0,0%,100%,.7);
}
.light {
    --dQBI3A: linear-gradient(0deg,hsla(0,0%,100%,.7) 0%,transparent);
}
.light {
    --GUfxVw: linear-gradient(90deg,hsla(0,0%,100%,.7) 0%,20%,transparent);
    --fszeng: linear-gradient(270deg,hsla(0,0%,100%,.7) 0%,20%,transparent);
    --5w45hA: rgba(28,39,48,.5);
    --Er0qbg: #fff;
    --Uz5l5g: rgba(43,59,74,.3);
}
.light {
    --3wzi4w: linear-gradient(33deg,#7731d8 30%,#e7dbff 60%);
    --vq4WFQ: url(images/ab98aec….png);
    --1Eeu7g: hsla(0,0%,100%,.9);
    --9PPbVw: hsla(0,0%,100%,.8);
    --cks6ZA: #0d1216;
    --cL1Xjg: linear-gradient(33deg,transparent,transparent 40%,hsla(0,0%,100%,.3) 60%);
    --YAWEPQ: transparent;
    --v5lVgw: hsla(0,0%,100%,.2);
    --qIv0BQ: hsla(0,0%,100%,.5);
}
.light {
    --qmcpnQ: #fff;
    --j6ql-w: linear-gradient(33deg,#e7dbff 30%,#fff 60%);
}
.light {
    --W8QAAg: rgba(64,87,109,.07);
    --5LLwoQ: rgba(57,76,96,.15);
}
.light {
    --B-Boqw: url(data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.6 5.613C7.91 5.466 6.98 4.874 6.484 3.7c-.179-.423-.304-.917-.384-1.5 0-.1-.1-.2-.2-.2s-.2.1-.2.2c-.08.583-.205 1.077-.384 1.5C4.821 4.874 3.891 5.466 2.2 5.613c-.1 0-.2.1-.2.2s.1.2.2.2c2.1.4 3.2 1.187 3.5 3.387 0 .1.1.2.2.2s.2-.1.2-.2c.3-2.2 1.4-2.987 3.5-3.387.1 0 .2-.1.2-.2s-.1-.2-.2-.2Z' fill='url(%23a)'/%3E%3Cpath d='M19.469 11.865c-4-.8-5.726-2.73-6.526-6.629a.493.493 0 0 0-.474-.371.493.493 0 0 0-.475.376c-.009.006.007-.015 0 0-.8 4-2.625 5.824-6.525 6.624a.5.5 0 0 0 0 1c4 .8 5.717 2.687 6.517 6.587a.493.493 0 0 0 .483.413.493.493 0 0 0 .477-.387c-.005.01.006-.008 0 0 .8-4 2.623-5.813 6.523-6.613a.5.5 0 0 0 0-1Z' fill='url(%23b)'/%3E%3Cpath d='M21.465 5.8c0-.084-.061-.14-.144-.156l-.056-.013c-1.168-.305-1.876-1.024-2.073-2.108a.153.153 0 0 0-.153-.153v.004c-.084 0-.14.062-.156.144l-.013.056c-.305 1.168-1.024 1.876-2.108 2.073a.153.153 0 0 0-.153.153h.004c0 .084.062.14.145.156l.055.013c1.168.305 1.876 1.024 2.073 2.108 0 .084.069.153.153.153v-.004c.084 0 .14-.062.156-.145l.014-.055c.304-1.168 1.023-1.876 2.107-2.073a.15.15 0 0 0 .15-.153Z' fill='url(%23c)'/%3E%3Cpath d='M7.919 18.715c-1-.3-1.582-.782-1.782-1.782a.218.218 0 1 0-.436 0c-.3 1-.782 1.582-1.782 1.782a.218.218 0 0 0 0 .436c1 .3 1.582.782 1.782 1.782a.218.218 0 0 0 .436 0c.3-1 .782-1.582 1.782-1.782a.218.218 0 0 0 0-.436Z' fill='url(%23d)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E);
    --4CHFtg: none;
    --L9l--A: -6px -3px 12px rgba(0,196,204,.25), 6px 3px 12px rgba(141,57,250,.25);
}
.light {
    --zELbVw: rgba(57,76,96,.15);
    --FWdXPw: hsla(0,0%,100%,.5);
    --EdFEDg: hsla(0,0%,100%,.9);
    --QLhQ3Q: #fff;
    --G7AP6w: #e0e2e6;
}
.light {
    --sFcH-Q: hsla(0,0%,100%,.07);
}
.light {
    --9ElZmw: colorBlackA07;
}
.light {
    --zR3ITQ: rgba(64,87,109,.07);
    --ES1RQg: rgba(57,76,96,.15);
}
.light {
    --41ZOzQ: none;
    --gOLB-w: invert(1) hue-rotate(180deg);
    --0a4S4w: brightness(0%);
    --7T6_4w: var(--COXgsg);
    --F2b7_w: none;
    --nfuSdA: 8px;
    --E_rviw: 0;
}
.light {
    --teFjIg: rgba(28,39,48,.5);
}
.light {
    --UV3lYA: url(images/442c46f….png);
    --7xedjw: url(images/dbd21be….png);
    --RqucMQ: url(images/cf87c42….png);
}
.light {
    --0MuUng: #f1ebff;
    ---FwxCA: #a570ff;
    --V0zZBw: #f1ebff;
    --4i16Hw: #ebecf0;
    --foOgkA: #fff;
    --XheEjQ: #ebecf0;
}
.light {
    --OEZfnw: #fff;
    --e_R6Uw: #ebecf0;
}
.light {
    --7Jaf_Q: #f1ebff;
    --KDcP1Q: #ebecf0;
    --bNmhAg: #fff;
    --rgcq-Q: #ebecf0;
}
.light {
    --iNU04A: none;
}
.light {
    --veRWdQ: #00d9e1;
    --DP02gg: #00afb5;
}
.light {
    --PX4gvA: rgba(57,76,96,.15);
    --OsQj3Q: hsla(0,0%,100%,.5);
    --LDEKZA: hsla(0,0%,100%,.9);
}
.light {
    --B7uCHg: none;
    --no9zKw: 1;
}
.light {
    --ksIXmw: rgba(13,18,22,.7);
    ---OGdZw: #fff;
}
.light {
    --6V34uw: rgba(28,39,48,.5);
}
.light {
    --87e3vQ: none;
}
.light {
    --cT5vwQ: invert(1);
}
.light {
    --ps1udw: #f1ebff;
    --A6FU-g: hsla(0,0%,100%,.95);
}
.light {
    --ur10VQ: invert(1);
}
.light {
    --Pxds5A: #8b3dff;
}
.light {
    --bXlxoQ: #515154;
}
.light {
    --a_DZfA: #ebecf0;
}
.light {
    --LldpTQ: #fff;
}
.light {
    --JhrrQg: darken;
}
.light {
    --o79qlg: 0.45;
}
.light {
    --mvU8ww: 0.45;
}
.light {
    --bCQr5Q: #000;
}
.light {
    --k-vWiQ: rgba(57,76,96,.15);
}
.light {
    --1ZWSrg: #f6f7f8;
}
.light {
    --m9QEEQ: none;
}
.light {
    --ttgGlA: none;
    --Zagh4g: 1;
}
.light {
    --N4jSUg: none;
}
.light {
    ---7Wuyg: none;
}
.light {
    --YxrLZA: none;
}
.light {
    --8aWCOg: none;
}
.light {
    --NqfQ5w: none;
}
.light {
    --cJVQcw: rgba(53,71,90,.2);
}
.dark, .light {
    --EgVHiw: var(--sz5W9A);
    --9-CRlg: var(--7hnsIg);
}
.light {
    --CDumDw: #f6f7f8;
    --twPbvQ: #f1ebff;
}
.light {
    --XwdWJA: rgba(53,71,90,.2);
}
.light {
    --Q0s3Gg: #f6f7f8;
}
.light {
    --13BKeA: rgba(64,87,109,.07);
    --Xklx3g: #e7dbff;
    --VStTpQ: rgba(57,76,96,.15);
    --CfMzzQ: #8b3dff;
}
.light {
    --lG6Xrw: rgba(64,87,109,.07);
    --HTnOJQ: #e7dbff;
    --l4XEUg: rgba(57,76,96,.15);
    --ihfYXA: #8b3dff;
}
.light {
    --dYvrvQ: 0.45;
    --HPJZzg: rgba(57,76,96,.15);
}
.light {
    --eqgGZQ: #f6f7f8;
}
.light {
    --NyaZXw: rgba(28,39,48,.5);
}
.light {
    --7AEt2A: rgba(43,59,74,.3);
    --8cBlVQ: rgba(36,49,61,.4);
    --ZA_Lcw: 0px 0px 1px rgba(64,87,109,.07), 0px 2px 2px rgba(43,59,74,.3);
}
.light {
    --R9M-HA: linear-gradient(#fff,#fff) padding-box, linear-gradient(to bottom right,#00c4cc,#8b3dff) border-box;
}
.dark, .light {
    --H-KHaA: rgba(13,18,22,0);
}
.light {
    --qjyVmg: rgba(28,39,48,.5);
}
.light {
    --1T6cWA: rgba(43,59,74,.3);
    --LldsUA: rgba(28,39,48,.5);
}
.light {
    --v5pfSw: 0 0 0 1px rgba(64,87,109,.07), 0 0 8px 0 rgba(57,76,96,.15);
    --Th1V1g: 0 0 0 1px rgba(64,87,109,.07), 0 0 8px 0 rgba(57,76,96,.15);
    --u7pYIA: 0 0 0 1px rgba(64,87,109,.07), 0 0 8px 0 rgba(57,76,96,.15);
    --6r3bdQ: 0 0 0 1px rgba(64,87,109,.07), 0 0 8px 0 rgba(57,76,96,.15);
}
.light {
    --6Ym1Xg: rgba(17,23,29,.6);
}
.light {
    --mxasNw: none;
}
.light {
    --3T-7lQ: none;
}
.light {
    --5L3HbQ: var(--S_zKBQ);
    --4KwBxA: var(--fPN_wg);
    --Cenk9A: var(--COXgsg);
    --088eJw: var(--EuDLYA);
}
.light {
    --QjoAaQ: #f6f7f8;
}
.light {
    --SjKC9Q: rgba(64,87,109,.04);
}
.dark, .light {
    --GYXYTA: var(--qK3n8w);
    --kQDJoA: var(--TlUudQ);
}
.light {
    --iuGkmA: rgba(74,46,126,.15);
}
.light {
    --Hie9jQ: #ebecf0;
}
.light {
    --e0RFhg: hsla(0,0%,100%,.5);
}
.light {
    --gVqFBg: rgba(43,59,74,.3);
    --UlLwLA: rgba(28,39,48,.5);
    --FVRPTg: hsla(0,0%,100%,.3);
}
.light {
    --oHT_6g: linear-gradient(180deg,#f5f0fe,#eef5fc);
    --Pp0m8g: 1px solid rgba(74,46,126,.1);
    --OOECjw: var(--4ClGCw);
}
.light {
    --mK8L3g: #ebecf0;
    --PiuTsQ: rgba(165,112,255,.2);
}
.light {
    --cT3jbA: 0.07;
    --HtChog: 0.025;
}
.light {
    ---2C5tw: rgba(64,87,109,.07);
}
.light {
    --4ClGCw: 0px 0px 0px 1px rgba(64,87,109,.04), 0px 6px 20px -4px rgba(64,87,109,.3);
    --SGjjzA: 0px 0px 0px 1px rgba(64,87,109,.04), 0px 12px 40px -8px rgba(64,87,109,.3);
    --7FRQGw: 0px 0px 0px 1px rgba(64,87,109,.04), 0px 2px 4px -1px rgba(64,87,109,.3);
    --1IVhPQ: 0 0 0 1px rgba(64,87,109,.07), 0 2px 8px rgba(57,76,96,.15);
    --v_jISQ: 0 0 0 1px rgba(64,87,109,.07), 0 2px 12px rgba(53,71,90,.2);
    --MPmRHA: 0 0 0 1px rgba(64,87,109,.07), 0 2px 18px rgba(43,59,74,.3);
}
.light {
    --YkBpzA: #f6f7f8;
}
.cc24 {
    --fKgqJA: 8px;
    --6Iz8jg: 12px;
    --gg2BUg: 16px;
    --ZbPtBA: var(--fKgqJA, 4px);
    --luBooQ: var(--gg2BUg, 12px);
    --bhcBEg: var(--6Iz8jg, 4px);
    --AFMXVg: var(--fKgqJA, 4px);
    --SatqyQ: var(--fKgqJA, 4px);
}
.light {
    --TWF4rw: light;
    --tN1MMA: #00c4cc;
    --_mHLrA: #8b3dff;
    --s0dOYA: #7731d8;
    --t-i8hw: #612dae;
    --6899sQ: rgba(64,87,109,.07);
    --4Yobmg: #fff;
    --9QR_hg: rgba(36,49,61,.4);
    --K12xjw: rgba(64,87,109,.07);
    --B2THfg: rgba(57,76,96,.15);
    --QYA_-A: rgba(53,71,90,.2);
    --ctGD3w: rgba(64,87,109,.07);
    --_T63JA: #0d1216;
    --oXjekw: rgba(36,49,61,.4);
    --hjVsrw: rgba(53,71,90,.2);
    --on21aw: rgba(57,76,96,.15);
    --FNUQ4g: rgba(53,71,90,.2);
    --6Rd7UQ: rgba(13,18,22,0);
    --nfu_og: #0d1216;
    --ux3doQ: rgba(36,49,61,.4);
    --sz5W9A: rgba(13,18,22,0);
    --8ZR-UA: rgba(64,87,109,.07);
    --H8nEqw: rgba(57,76,96,.15);
    --zuehrg: rgba(13,18,22,0);
    --fgALUw: #0d1216;
    --n4L1sw: rgba(36,49,61,.4);
    --KneJqA: rgba(57,76,96,.15);
    --VDCUNg: rgba(64,87,109,.07);
    --E05YAQ: rgba(57,76,96,.15);
    --sanlCw: rgba(13,18,22,0);
    --c9kaQQ: #0d1216;
    --GV6ruQ: rgba(36,49,61,.4);
    --S_zKBQ: rgba(17,23,29,.6);
    --fPN_wg: rgba(13,18,22,.7);
    --voBvjA: rgba(13,18,22,.86);
    --VGxehA: rgba(17,23,29,.6);
    --QErhlg: #fff;
    --6kDNlA: hsla(0,0%,100%,.7);
    --pyoCYg: rgba(57,76,96,.15);
    --sXgitQ: rgba(43,59,74,.3);
    --XGNWMw: rgba(57,76,96,.15);
    --mgNb9w: rgba(57,76,96,.15);
    --GZwQFw: #fff;
    --BbP6vg: hsla(0,0%,100%,.5);
    --COXgsg: rgba(64,87,109,.07);
    --EuDLYA: rgba(57,76,96,.15);
    --5KC7lw: rgba(53,71,90,.2);
    --lsGKWw: rgba(64,87,109,.07);
    --Do4LcA: #0d1216;
    --zi9nIw: rgba(36,49,61,.4);

}
.theme {
    color-scheme: var(--TWF4rw);
}
html {
    font-size: 62.5%;
}
@supports (height:env(safe-area-inset-top)) {
    html {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        --safe-area-inset-left: env(safe-area-inset-left);
        --safe-area-inset-right: env(safe-area-inset-right);
    }
}
html {
    --safe-area-inset-top: 0px;
    --safe-area-inset-bottom: 0px;
    --safe-area-inset-left: 0px;
    --safe-area-inset-right: 0px;
}